<!DOCTYPE html>
<html lang="fi">
<head>
  <title>uuidUrl</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <!--<script defer src="http://<%= data.ip %>:<%= data.port %>/socket.io/socket.io.js"></script>-->
  <script defer type="text/javascript" src="script.js"></script>
</head>
<body style="margin: 7px;">
 <form method="POST" action="/shorturl">
   <input style="width: 300px;" name="url" type="text" placeholder="URL">
   <input type="submit" value="Lyhennä URL"/>
 </form>
 <% for (var i = 0;i < data.urlList.length;i++) {%>
    <div style="padding-top: 5px;">
    <h4><%= data.urlList[i] %></h4>
    <p style="margin-top: 5px;">
      <form method="post" action="delete" class="inline">
        <input type="hidden" name="uuid" value="<%= data.uuidList[i] %>">
        <button type="submit" style="border: none; background: inherit; font-size: 22px; padding: 0;" class="delete">Poista</button>
      </form>
      <p id="<%= data.uuidList[i] %>" class="copy inline" onclick="navigator.clipboard.writeText(document.getElementsByClassName('link')[<%= i %>].innerText);">Kopio Linkki</p>
      <a class="link" href="<%= data.uuidList[i] %>"><%= data.ip %>:<%= data.port %>/<%= data.uuidList[i] %></a>
      <p style="display: none;" class="copyText" id="<%= data.uuidList[i] %>"></p>
    </p>
    </div>
 <% }%>
</body>
</html>
