*, body {
    margin: 0;
    padding: 0;
}

input, button {
    padding: 4.5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

div {
    font-size: 22px;
}

.delete {
    color: crimson;
    text-decoration: underline;
    cursor: pointer;
}

.link {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
}

.copy {
    color: lightsalmon;
    text-decoration: underline;
    cursor: pointer;
}

.inline {
    display: inline;
}

.copyText {
    font-size: 20px;
}
